<html>
    <head>
	<title>WebAR</title>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
	<h1>Web VR</h1>
	<p>For Moverio BT-300 with MQTT</p>
	<ul>
	  <li><a href="pioneer">Factory Overview</li>
	  <li><a href="pioneer/M001">Machine 1</li>
	  <li><a href="pioneer/M002">Machine 2</li>
	  <li><a href="pioneer/M003">Machine 3</li>
	  <li><a href="pioneer/M004">Machine 4</li>
	  <li><a href="svgdemo">SVG Demo</li>
	  <li><a href="svgdemo2">SVG Demo 2</li>
<!-- add with Terrence-->
	  <li><a href="svgdemo3">SVG Demo 3</li>
	  <li><a href="svgdemo4">SVG Demo 4</li>   
<!-- add with Terrence-->  	
	  <li><a href="videodemo">Video Demo</li>
	  <li><a href="videotest">Video Test</li>
	</ul>
    </body>
</html>


